.main{
    width: 450px;
  border: 3px solid rgb(212, 16, 124);
  box-shadow: 0 0 25px rgb(16, 116, 197);
  background-color: rgba(134, 27, 221, 0.747);
  border-radius: 50px;
}
form .formrow {
  display: grid;
  grid-template-columns: 190px 1fr;
  margin-right: 20px;
}
button {
  margin: 10px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 25px purple;
  padding: 10px;
  background-color:rgb(101, 109, 182);
  color: black;
}
.gender{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 45px;
}
.gender label{
    display: inline-block;
    margin-right: 35px;
}
input:focus{
  outline: 3px solid plum;
  outline-offset: 2px;
}
input[type="radio"]{
  accent-color:purple;
}
button:hover {
  background-color: darkorchid;
  color: white;
}
body{
    
    background-color:black;
}
.btn{
  margin-top: 20px;
}

 